@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url('https://fonts.googleapis.com/css?family=Itim|Open+Sans|Quicksand&display=swap');

html {overflow-x: hidden !important;}

body {
    position:relative;
    width:100vw;
    overflow-x: hidden !important;
}
/*this keeps the fog from causing a horizontal scrollbar*/

.App {background-color: #FFFFF0;
  text-align:center
  ;}


#maincontainer {
  background-image: url('./cabinlakeshopped2.jpg');
height:120vh;
width:100vw;
overflow-x: hidden !important;
color:white;
background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow-y: hidden !important;
}

/*use tutorial i favorited to see how tio use media query to load smaller image on phones
https://www.webfx.com/blog/web-design/responsive-background-image/ */

.maincontainerfilter {
   backdrop-filter: brightness(0.8);
    height:120vh;
    width:100vw;
}

/*make this the same size as the container it covers*/


#Mynavbar {
  position:fixed;
  width:100%;
  z-index:3;
  top:0;
  transition: top 0.5s;
  display: grid;
  background-color:transparent;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  padding: 30px 0px;
  grid-column-gap: 0px;
animation: cssAnimation 0s 3s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}



/*the container div for the actual logo symbol*/
.logocontainer {
  position: relative;
  grid-column: 1;
  bottom: 20px;
}

.logo {
  color:blue;

  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
}

.dropcontainer {display: grid;
  grid-column: 3;
grid-template-columns: 1fr 1fr;
}

.dropbar {
  width:10px;
  position:relative;
  grid-column: 1;
  color: #1B6EB0;
}

.dropitems {color: #1B6EB0;
font-family: quicksand;
background-color: #FFFFF0;}

.hamburger {
  position:relative;
  grid-column: 2;
  width:10px;

}



/*navbar ends*/








/*can edit this later to make it move slightly off the house on phones*/
.escape { position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: 'Patrick Hand SC';
font-size: '19px'}

.intro {
margin-top:400px;
margin-bottom:400px;
font-family: 'Patrick Hand SC';
font-size:20px;}









.GalleryWrapper {
  padding-top: 0px;
  background-color: transparent;
  padding-left: 20px; 
  padding-right: 20px;  
}

.carimages {
  font-family: 'Patrick Hand SC';
  background: transparent;
   border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 450px;
    width: 450px;
    margin: none;
}

.carimages.one {
border-radius: 255px 55px 855px 15px/50px 255px 25px 255px;}

.carimages.two {
 border-radius: 4% 96% 5% 95% / 100% 2% 96% 3% }

 .carimages.two {
 border-radius: 4% 96% 5% 95% / 100% 2% 96% 3% }



/*still fog and moving clouds begins, need images too */

/*.fog-low {
  position: absolute;
  overflow:hidden;
  left: 390px;
  top:400px;
  bottom: 0;
  margin-left: 1%;
  margin-bottom: 0px;
  width: 80%;
  opacity: .85; }

  .fog-low img {
    position: absolute;
    width: 100%; 
  overflow:hidden;}

  .fog-low.right {
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    opacity: 1; 
  overflow:hidden;}*/


.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden !important;
  width: 200vw;
  height: 100%;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite; }

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

/*fog and clouds ends, working!*/






.galimg {
  margin: 600px 0px;
  display:grid;
grid-template-columns: 1fr 1fr;}

.zoomableone {
  grid-column:1;
  height: 0px;
  padding: 20px;
}

.resptext {grid-column: 2;
font-family: Patrick Hand SC;
line-height:50px;
margin-top:200px;
font-size:20px;}

.zoomabletwo {
  grid-column:2;
  height: 0px;
  padding: 20px;
}

.resptexttwo {grid-column: 1;
font-family: Patrick Hand SC;
line-height:50px;
margin-top:100px;
font-size:20px;}


/* THIN HAND DRAWN BUTTONS BEGINS! */

/*can make this thick purely by increasing the border px*/
button.lined.thin {
    font-family: 'Patrick Hand SC';
   border: solid 3px #41403e;
align-self: center;
   background: transparent;
   padding: 1rem 1rem;
   margin: 0 1rem;
   transition: all 0.5s ease;
   color: #41403e;
   font-size: 2rem;
   letter-spacing: 1px;
   outline: none;
   box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* Above is shorthand for: border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
   */
}

button.lined.thin:hover {
   box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);}

/*HAND DRAWN BUTTONS END*/












@media screen and (max-width: 600px) {


.galimg {display: block;}

.zoomableone {display:block;}

.resptext {display:block;}

  .resptext {font-size:8px;
    line-height:20px;
    border:1px solid green;
    color:red;
    margin-top:200px;}


  .resptexttwo {font-size:8px;
    line-height:20px;
    border:1px solid red;
  color:red;
    margin-top:200px;}

.carimages {
  font-family: 'Patrick Hand SC';
  background: transparent;
   border: solid 3px #41403e;
    
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 450px;
    width: 500px;
    margin: none;
   }


}

@media screen and (max-width: 450px) {
  .carimages {
    font-family: 'Patrick Hand SC';
  background: transparent;
   border: solid 3px #41403e;
    
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 250px;
    width: 300px;
    margin: none;
}
}




/*blahhhhbuhnouihouhboubougiouhhouhoho*/




@media only screen and (max-width: 900px) {
  

  #Mynavbar {  grid-template-columns: 1fr 6fr 2fr;
    padding-left: 5px;
    padding-right: 7px;
}

.dropcontainer {grid-column-gap: 5px}

}





 










