@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url('https://fonts.googleapis.com/css?family=Itim|Open+Sans|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500&display=swap');

:root{
--mybeige: #FFFFF0;
--mycharcoal: #41403e;
  }


html {overflow-x: hidden !important;
  font-family:Patrick Hand SC;
  font-size:16px;
  color:var(--mycharcoal);
}


body {
    position:relative;
    width:100vw;
    overflow-x: hidden !important;
}
/*this keeps the fog from causing a horizontal scrollbar*/

.App {background-color: var(--mybeige);
  text-align:center;
 padding-bottom:150px;
}

/*the big image that comes when you click on the mag glass*/
.__react_modal_image__medium_img {
    max-width: 85% !important;
    max-height: 85% !important;
    background-color: black;
    animation: fadein 1s ease-out forwards;
    opacity:0;
} 



#einsteinmob {display:none;
}

#maincontainer {
  background-image: url('./pics/cabinlakeshopped.jpg');
height:120vh;
width:100vw;
overflow-x: hidden !important;
color:white;
background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow-y: hidden !important;
  margin-bottom:240px;
}



.maincontainerfilter {
   backdrop-filter: brightness(0.8);
    height:120vh;
    width:100vw;
}

/*make this the same size as the container it covers*/




.zoompic:hover{ cursor: url("./pics/magglass.png"), auto !important}



 iframe { font-family: 'Patrick Hand SC';
   border: solid 3px #41403e;
    border-radius: 2% 96% 5% 5% / 10% 2% 96% 3% ;
    
}


.cabingallery {z-index:4;}

/*NAVBAR BEGINS*/

#Mynavbar {
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  transition: top 0.5s;
  display: grid;
  background-color: transparent;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  padding: 30px 0px;
  grid-column-gap: 0px;
}

@keyframes fadein {
  to   { opacity: 1; }
}


.forecastcontainer {
  position:relative;
  display: block;
  width:70vw;
  margin:0 auto;
  padding:0% 10%;
}
/*.weather {
  display:none;
}

.displayblock {
  display:block;
}*/


/*the container div for the actual logo symbol*/
.logocontainer {
  position: relative;
  grid-column: 1;
  bottom: 20px;
}

.logo {
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
  filter:brightness(150%);
  transform:translateY(-2px);

}

.dropcontainer {display: grid;
  grid-column: 3;
grid-template-columns: 1fr 1fr;

}

.dropbar {
  width:10px;
  position:relative;
  grid-column: 1;
  
}


.dropitems {color: #1B6EB0;
font-family: quicksand;
background-color: #FFFFF0;
font-size:16px;}

.hamburger {
  position:relative;
  grid-column: 2;
  width:10px;
}



.Lwrapperdiv {z-index:4;}



/*BLOG*/

.blogscontainer {
padding:10vw;
padding-top:10vh;}

.blogclass {padding-top:10vh;
padding-bottom: 10vh;
font-family: 'Patrick Hand SC';
   border-bottom: dashed 1px #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;}

.blogclass h1 {font-family: Patrick Hand SC;
}

.blogclass p {font-family: Quicksand;}

.blogtext {font-family: Quicksand;
padding-left:15vw;
padding-right:15vw;
line-height:1.8;
text-align:left;}

.blogtext img {
display: block;
position: relative;
margin:10vh auto;
width:40vw;
height:auto;
border: solid 1px #41403e;
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}

/*BLOG ENDS*/



.btn-secondary:hover {
  transform:translateY(-2px);
  transition: all 100ms ease;
filter: brightness(160%);
  /*the properties beflow and the animation make the colors change on hover, its cool!*/
/*   border-color: hsl(0,100%,50%);*/
/*animation: redred 10000ms 0ms infinite linear;*/
}

/*@keyframes redred {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}*/








/*FOOTER*/

.footerlist {position:absolute;
  display:inline-block;
  font-weight: bold;
  font-size:18px;
  left:0vw;
  bottom:0px;
  text-align: left;
  color: #41403e;
  list-style-type:none; 
}

.footerlist a {font-weight: bold;
  font-size:18px !important;
  color: var(--mycharcoal);
transition: transform 250ms;
padding:2px;
padding-bottom:0px;
display:block;
}

.footerlist a:hover {
  transform:translateY(-.25em);
text-decoration:none;
  color:black;
}

.footersearch {position:absolute;
font-size:30px;
right:4%;
bottom:22%;
transition:all .2s ease;}

/* SOCIAL STUFF */
.social-container {
  margin:0px;
  background: #FFFFF0;
  padding: 5vh 5vw;
  font-size:16px;  /*just change this on phone and the icons will get smaller too, as they change depending on the parent's fontsize*/
  position:absolute;
  left:0;
bottom:0;
right:0;
font-family: 'Patrick Hand SC';
  background: transparent;
   border-top: solid 1px rgba(0,0,0,0.5);
   border-radius: 255px 195px 25px 15px/195px 225px 15px 255px;
   box-shadow: 0 0 2px black 
}

.social-container a {font-size:13px;}

.social-container h3 {
  opacity: 0.8;
  font-size:17px;

}
a.social {
  margin: 0 10px;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-5px);
}

a.youtube, a.youtube:hover {
  color: #eb3223;
  
}

a.facebook, a.facebook:hover  {
  color: #4968ad;
}

a.twitter, a.twitter:hover {
  color: #49a1eb;
}

a.instagram, a.instagram:hover {
  color: white;
  border-radius:15%;
  height:27px;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

/*SOCIAL STUFF ENDS*/






















/*can edit this later to make it move slightly off the house on phones*/
.escape { position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: Patrick Hand SC;
font-size: 1.6rem;
animation:fadein 3s ease-in forwards;
opacity:0;
letter-spacing:1px;
}






.GalleryWrapper {
  padding:120px 0px;
  background-color: transparent; 
}

.carimages {
  font-family: 'Patrick Hand SC';
  background: transparent;
   border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 450px;
    width: 450px;
    margin: none;

}

.carimages.one {

border-radius: 255px 55px 855px 15px/50px 255px 25px 255px;}

.carimages.two {
 border-radius: 4% 96% 5% 95% / 100% 2% 96% 3% }

 .carimages.two {
 border-radius: 4% 96% 5% 95% / 100% 2% 96% 3% }



/*still fog and moving clouds begins, need images too */

/*.fog-low {
  position: absolute;
  overflow:hidden;
  left: 390px;
  top:400px;
  bottom: 0;
  margin-left: 1%;
  margin-bottom: 0px;
  width: 80%;
  opacity: .85; }

  .fog-low img {
    position: absolute;
    width: 100%; 
  overflow:hidden;}

  .fog-low.right {
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    opacity: 1; 
  overflow:hidden;}*/


.moving-clouds {
  background-image: url('./pics/clouds.png');
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden !important;
  width: 200vw;
  height: 100%;
  -webkit-animation: cloudLoop 73s linear infinite;
  animation: cloudLoop 73s linear infinite; }

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

/*fog and clouds ends, working!*/






.galimg {
  margin: 450px 0px;
  display:grid;
grid-template-columns: 1fr 1fr;}

.zoomableone {
  grid-column:1;
  height: 0px;
  padding: 20px;
}

.resptext {grid-column: 2;
font-family: Patrick Hand SC;
line-height:50px;
margin-top:200px;
font-size:22px;}

.zoomabletwo {
  grid-column:2;
  height: 0px;
  padding: 20px;
}

.carimages .second{ border-radius: 4% 96% 5% 95% / 100% 2% 96% 3% ;}

.resptexttwo {grid-column: 1;
font-family: Patrick Hand SC;
line-height:50px;
margin-top:100px;
font-size:22px;}




/* THIN HAND DRAWN BUTTONS BEGINS! */

/*can make this thick purely by increasing the border px*/
button.lined.thin {
    font-family: 'Patrick Hand SC';
   border: solid 2.9px #41403e;
align-self: center;
   background: transparent;
   padding: 10px;
   transition: all 0.5s ease;
   color: #41403e;
   font-size: 18px;
   letter-spacing: 2px;
   outline: none;
   box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
/*for some weird reason when the border is above 2.9px, a little box shows up inside it on phone*/

button.lined.thin:hover {
   box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);}

/*HAND DRAWN BUTTONS END*/

.footersearch:hover {
  transform:translateY(-.25em);
}



.small {width:35vw}

.cabinmain {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:2px solid #41403e;;
}





/*ALL CABINS PROFILE CSS */

.zindex {z-index:6;
position:relative;
}

img.zindex:hover {
cursor: url("./pics/magglass.png"), auto !important
}

.cabinprofilewrapper {padding: 50px; padding-top:200px;
}

.cabinprofilewrapper h1 {font-family: Patrick Hand SC;
}

.cabinprofilewrapper p {font-family: Tahoma;
  padding:50px 0px;
}

.cabinprofilewrapper li {font-family: Tahoma;}

/*
.cabinprofilewrapper img {
width:30%;
height:auto;*/
 /*this actually works pretty well for the lightbox imgs on mobile, but makes them too big on big screen. use for breakpoint*/

.cabinzoomable {padding:40px 10px;
}

.mainimg {
margin:50px;
height: auto;
width: 30%;
font-family: 'Patrick Hand SC';
  background: transparent;
   border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
/*will change this on mobile (the size of the main img) */


.Lwrapperdiv {
  padding:5px;
  margin: 10vh 5vw;}








/*CABINS PROFILE CSS ENDS*/

















/*ABOUT PAGE CSS*/

.aboutcontainer {padding: 15% 5%;

font-family: Patrick Hand SC;
font-color:var(--mycharcoal);
font-size:1.4rem;}



.aboutgrid2 {display:flex;
  
  padding:10% 5%;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  }


.abouttext2 {
  font-size:1rem;
  flex-grow: 6;
  color: #41403e;;
  font-family: Tahoma;
  flex-basis:400px;
  text-align:left;
}

.quotewrapper2 {
   flex-grow: 0;
   flex-basis:200px;
   margin:10px;
   font-family: Patrick Hand SC;
  width:max-content;
  padding:5%;

}


@keyframes fadeinout {
  50% { opacity: 1; }
}
 
@media screen and (min-width: 800px) { 
  .namewrapper.pablo {
  position:relative;
  right:120px;
  width:25vw;}
}

.namewrapper {
  padding:10% 5%;
  font-family: cursive;
   border:dashed 1px lightgrey;
    
   background: transparent;
   color:  darkgrey;
   font-size: 1.2em;
   letter-spacing: 2px;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
 animation: fadeinout 6s linear infinite;
    opacity: 0.01;
  width:20vw;}



.aboutcontainer h2 {position:relative;
top:20%;}



.ireland {padding-bottom: 0px;
display:inline-block;}

.einstein {height:700px;
width:100%;
border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;}


.second {order:1;}




/*funky zoominout begins*/
#could {color:white;
  font-size:.5rem;
position:absolute; 
bottom:16%;
left:49%;
font-family:Quicksand;
}

#mainhighcontainer
  { height:90vh;
    width:90vw;
    overflow: hidden;
    position: relative;
    margin: auto;
    border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
  #highcontainer
  { height:90vh;
    width:90vw;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./pics/cabinhigh.jpg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: 90vw 90vh;  
    animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
    /* transform: scale(3.0); */
    /* transform: scale(1.0); */
    transform-origin: 50% 90%;
  }
  @keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(2.9);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */
  




/*funky ends*/



/*ABOUT PAGE CSS ENDS*/



/*CONTACT PAGE*/

.contactform {padding-top:160px;
padding-left:5%;
padding-right:5%;

font-size:1.2rem;}



/*CONTACT PAGE END*/
































/*MEDIA QUERIES*/

@media only screen and (max-width: 900px) {
  

  #Mynavbar {  grid-template-columns: 1fr 6fr 2fr;
    padding-left: 5px;
    padding-right: 7px;
}

.dropcontainer {grid-column-gap: 5px}
}

/*ipads*/
@media only screen and (max-width: 767px) {

.second {order:0;}
.einstein,  {height:500px;}

.namewrapper {padding:5%;
 width:30vw;
             }

.blogtext img {width:50vw;
margin:5vh auto;}

.forecastcontainer {
  width:90vw;
}


}





@media screen and (max-width: 600px) {



.galimg {display: block;}

.zoomableone {display:block;
}

  .resptext {
display:block;
position:relative;
    font-size:20px;
    line-height:25px;   
    bottom:400px;}


  .resptexttwo {
  position:relative;
    font-size:20px;
    line-height:25px;
    bottom: 300px;}



.carimages {
  font-family: 'Patrick Hand SC';
  font-size:18px;
  background: transparent;
   border: solid 3px #41403e;
    z-index:1;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 450px;
    width: 500px;
    margin: none;
   }


}

@media screen and (max-width: 450px) {

#maincontainer {
  background-image: url('./pics/cabinlakephonemin.jpg');}

#highcontainer
  { 
    background-image: url("./pics/cabinhighmob.jpg");
}

  .carimages {
    height: 250px;
    width: 300px;
}


.escape { position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: 'Patrick Hand SC', Comic Sans ;
font-size: '19px';
z-index: 3;}

.moving-clouds {
  background-image: url('./pics/clouds-small.png');
  -webkit-animation: cloudLoop 35s linear infinite;
  animation: cloudLoop 35s linear infinite; }


.mainimg {width: 90%;
margin:50px 10px;
}

.small {width:75vw}

.cabinprofilewrapper 
{font-size:14px;
padding: 25px;
padding-top:200px;
}

.blogtext {font-family: Quicksand;
  margin-top:20px;
padding-left:5vw;
padding-right:5vw;
line-height:1.7;
font-size:.8rem;
  }

.blogtext img {
display: block;
/*margin:40px;

padding: 40px 0px;*/
margin:6vh 0;
position: relative;
  width: 90%;
height:auto;}

.blogclass h1 {font-size: 35px;}


.footerlist{
  left:1px;}
  /*this doesn't seem to be affecting anything*/

.footerlist li {opacity:0.9;
font-size:14px;}

  .social-container a {font-size:10px;}

  .social-container a.dropitems{font-size:14px;}
  /*this is the size of the social media icons*/

a.instagram {height: 21px;}  

.namewrapper{
  width:60vw;
position:relative;
left:0%;
margin-top:25%;
margin-bottom:20%;
}


.aboutcontainer img {height:170px;
  position:relative;
  right:8px;
}

img.ireland {height:20em;
width:70%;}

.aboutcontainer {
  padding-top:30%;
  padding-left:8%;
  padding-right:8%;
  font-size:1rem;
}

figcaption {bottom:10rem;}



#could {
  font-family:quicksand;
  color:white;
  font-size:.4rem;
position:absolute; 
/*bottom:16%;*/
left:44%;
}

.einstein
{display:none;}

#einsteinmob {width:85vw;
  display: block !important;
  height:auto;
  border: solid 3px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   margin-top:15% 
}


#mainhighcontainer { border: solid 2px #41403e;
   border-radius: 3px;
   margin:0px;
   padding:0px;
   right:4%;}

}
/*END OF MEDIA QUERIES*/




 





































/*for the responsive media gallery*/


div.gallery {
  border-bottom: solid 2px #41403e;
    background-color:#FFFFF0;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}


div.gallery img {
  width: 100%;
  height: auto;
  border: solid 2px #41403e;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}


div.desc {
  padding: 5px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  display:inline-grid;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 49.99999%;
    margin: 3px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}








